.main-page {
    display: flex;
    flex-direction: row;
}

.categories-wrapper {
    display: flex;
    flex-direction: column;
    height: 41vw;
    width: 25vw;
    background-color: #FBFBFB;
}

.categories-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-heading {
    margin-left: 30px;
    font-size: 35px;
}

.filters-button {
    margin-right: 20px;
    width: 56px;
    height: 46px;
    background: #2B3C91;
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: 100;
}

.categories-list {
    align-self: center;
    overflow-y: scroll;
    height: 80%;
}

.category-button {
    width: 21.5vw;
    height: 3vw;
    border: 1px solid #EBEBEB;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #252B42;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.charities-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2.5vw;
}

.charities-catalog {
    height: 35vw;
    width: 70vw;
}

.charity-heading {
    height: 3vw;
    border: 1px solid #EBEBEB;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.charity-heading span {
    margin-left: 20px;
}

.expand-button {
    margin-right: 20px;
    width: 32px;
    height: 32px;
    background: #FFFFFF;
    border: 1px solid #D3D3D3;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.hidden {
    display: none !important;
}

.charity-description {
    background: rgb(244, 244, 244);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #000000;
    padding: 20px;
}

.expanded{
    background: #2B3C91 !important;
    color: rgb(240, 238, 238) !important;
}

.expanded-charity{
    background: rgb(231, 231, 231);
    border-bottom: none;
}

.active-category{
    border-left: 1px  solid #2B3C91;
}

.pages {
    justify-content: right;
    text-align: center;
    margin-top: 20px;
}

.page-button {
    display: inline;
    margin-right: 15px;
}