.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.prize-wrapper {
    display: flex;
    flex-direction: column;
}

.users-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-display-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.champions-heading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.user-picture {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-bottom: 10px;
}

.user-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    color: #252B42;
}

.prize-picture {
    border-radius: 46px;
    width: 450px;
    height: 250px;
    /* width: 594px;
    height: 348px; */
    margin-top: -50px;
}

.first {
    margin-bottom: -20px;
    margin-left: 15px;
}
.second {
    margin-bottom: -100px;
    margin-left: 20px;
}

.third {
    margin-bottom: -140px;  
}

tr {
    width: 893px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    border: 1px solid #EDEDED;
    color: #252B42;

}

tr:nth-child(odd) {
    background-color: #F7F7F7;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
}

.table-header {
    /* width: 893px; */
    width: 100%;
    /* height: 63px; */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    border: 1px solid #EDEDED;
    
    color: #252B42;
}

th{
    background-color: #FFFFFF;
    text-align: left;
    padding: 15px;
}

td{
    padding: 12px;
}

.first-col{
    width: 75px;
}

.second-col{
    width: 208px;
}

.third-col{
    width: 208px;
}

.fourth-col{
    width: 228px;
}

.fifth-col{
    width: 178px;
}